html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  font-family: "Forum", cursive;
  font-size: 16px;
  font-weight: 400;
  color: $white;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

input[type="text"],
input[type="phone"],
input[type="email"],
textarea {
  appearance: none;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.hide {
  display: none;
  transition: all 0.5s ease;
}
