$xxl: 1600;
$xl: 1440;
$hd: 1280;
$lg: 1000;
$md: 768;
$sm: 500;
$bg-color: #3b181e;
$white: #ffffff;
$mobile: 768; //320;
$tablet: 1000; //768;
$product-img-extralarge: 1900;
$product-img-large: 1635;
$product-img-medium: 1400;
$product-img-small: 1200;
